<div class="container">
<a href="/allProducts">Show all Products (me falta hacer esta vista, igual es link a la vista de productos, hace click je)</a>
</div>
<style>
    .container a{
        color: black;
    }
    
</style> 